bank-additional.zip
bank-names.txt
bank.csv
bank.zip
data.csv
file
formatka projekt.zip
logistic_piping copy.ipynb
logistic_piping.ipynb
nn_project copy.ipynb
nn_project.ipynb
output.png
bank-additional/__MACOSX/._bank-additional
bank-additional/__MACOSX/bank-additional/._.DS_Store
bank-additional/bank-additional/.DS_Store
bank-additional/bank-additional/.Rhistory
bank-additional/bank-additional/bank-additional-full.csv
bank-additional/bank-additional/bank-additional-names.txt
bank-additional/bank-additional/bank-additional.csv
formatka projekt/.DS_Store
formatka projekt/projekt_raport.pdf
formatka projekt/projekt_raport.tex
formatka projekt/graphics/.DS_Store
formatka projekt/graphics/znak_pk.png
